.left-bar {
  box-sizing: border-box;
  height: 100%;
  max-width: 15vw;
  min-width: 15em;
  padding: 10px;
  background-color: #111;
  border-radius: 10px;

  .open-bar-button {
    display: flex;
    opacity: 0.8;
    padding-bottom: 10px;
    font-size: large;

    p {
      font-weight: 600;
    }
  }

  .side-playlists {
    display: flex;
    flex-direction: column;
    height: 100%;

    .side-playlist {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      height: 10%;
      gap: 0.5em;
      padding: 10px;
      border-radius: 5px;

      &:hover {
        background-color: #333;
      }

      .side-playlist-image {
        height: 100%;
        aspect-ratio: 1 / 1;
        border-radius: 5px;
        background-color: rebeccapurple;
      }

      .side-playlist-content {
        width: 70%;

        p {
          box-sizing: border-box;
          text-overflow: ellipsis;
          max-width: 100%;
        }

        .side-playlist-bottom {
          box-sizing: border-box;
          display: flex;
          gap: 5px;

          .pin {
            scale: 0.8;
            rotate: 45deg;

            svg {
              box-sizing: border-box;
            }
          }
          
          .side-playlist-creator {
            box-sizing: border-box;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }

      }
    }
  }
}
